body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}


a {
  color: #333;
}
.row div:first-child {
    margin-top: 15px;
}


.homepage {
    width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.4);
    padding: 100px;
}

.homepage h1, h3 {
    color: #333;
    font-weight: bolder;
    text-align: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    padding: 10px;
}

.addDrone {
    font-size: 24px;
    text-decoration: none;
    clear: both;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
    margin: auto;
    margin-top: 50px;
    padding: 15px 0;
    font-weight: bold;
}

.addDrone a:hover {
    text-decoration: none;

}

.drone {
    text-align: center;
}

.drone h3 {
    font-weight: bold;
    font-size: 24px;
}

.drone p {
    font-size: 16px;

}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    padding-right: 30px;
    font-size: 50px;
}

nav li a {
    color: white;
}

form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px 50px 60px 50px;
    width: 600px;
    margin: auto;
}

form h2 {
    text-align: center;
    font-weight: bolder;
    color: #333;
}

label {
    font-size: 32px;
    margin-right: 20px;
}

input {
    outline: none;
    border: none;
    color: #333 !important;
}
button {
    padding: 12px 20px 15px 20px;
    color: #333;
    background-color: white;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    float: right;
}
