body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  
}

a {
  color: #00B7FF;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}

h1 {
  font-size: 75px;
  text-align: center;
}

p {
  font-size: 25px;
  text-align: center;

}

ul {
  list-style-type: none;
  text-align: center;
  margin-right: 40px;
}

button a {
  text-align: center !important;
  text-decoration: none !important;
}

button {
  margin: 0 auto;
}

h2 {
  text-align: center;
}