body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.makeDrone{
border-style: solid;
border-width: 1px;
border-radius: 5px;
padding: 20px;
border-color: grey;
margin-top: 20px;
}
