body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #F5F5F5;
}

a {
  color: #00B7FF;
}

.nav li {
  display: inline-block;
  list-style: none;
}

.one-drone {
  border-radius: 8px;
  box-shadow: 1px 1px 10px lightgrey;
  width: 300px;
  height: 80px;
  margin: 20px auto;
  padding: 40px 0;
  background-color: white;
}

.one-drone div {
  margin-bottom: 5px;
}

.create-drone {
  margin: 10px 0;
}
