<ul>
    <% drones.forEach((drone) => { %>
      <li>
        <%= drone.droneName %> - $<%= drone.propellers %> -
        <!--  <a href="/product/<%= product._id %>"> View details</a> -->
          <!--<a href="/product/<%= product._id %>/delete"> Delete</a>-->
      </li>
      <%  }) %>
  </ul>
