<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- products/index.ejs -->
    <ul>
      <%drones.forEach((drone) => { %>
        <li>
          <a href="/drones/<%= drone._id %>"><%=drone.droneName %> </a>
          <form method="POST" action="/drones/<%=drone._id%>/delete">
            <button>Delete</button>
          </form>
          <a href="/drones/<%=drone._id%>/edit">
            <button>Edit</button>
          </a>
        </li>
      <%  }) %>
    </ul>
  </body>
</html>
