<div class="container">
  <div class="row">
    <div class="col col-md-6">
      <p class="lead">Welcome to <%= title %></p>
      <a href="/drones" class="btn btn-primary btn-lg">All the drones list</a>
    </div>
  </div>
</div>
