<h2>Welcome to <%= title %></h2>


<header>
    <a href="/">Drnz Home</a>
    <a href="/drones">ALL the Drnz</a>
    <a href="/drones/new"> Add a Drnz</a>
  </nav>
</header>

    <img class="drone" src="/images/homedrone.gif" alt="drone1">
