<p>Welcome to <%= title %></p>

<!--
<input class="btn btn-outline-primary" type=button onClick="parent.location='drones/'" value='View All Drones'>
<input class="btn btn-outline-primary" type=button onClick="parent.location='drones/'" value='Create a Drone'>

<button type="button" class="btn btn-outline-primary" >Primary</button> -->

<a class="btn btn-primary" href="drones/" role="button">View All Drones</a>
<a class="btn btn-info" href="drones/new" role="button">Create a New Drone</a>
