<video autoplay loop muted poster="screenshot.jpg" id="background">
    <source src="../movie/dronebackground.mp4" type="video/mp4">
</video>



<p>Welcome to <%= title %></p>
<button class="btn btn-lg btn-primary"><a href="/drones">Check Out Our Drones</a></button>
</div>
</div>