<h1>Welcome to <%= title %> </h1>
<p>Click on the link Below to view some Drones</p>
 <div><a href="/drones"> Drones</a></div>
 <img src="../images/droneShot.jpg" alt="droneShot" width="100%" height="100%">
