<div class="container">
  <h2> Welcome to <%= title %> </h2>
  <div class="panel panel-default">
    <div class="panel-body">
        <p> An unmanned aerial vehicle (UAV), commonly known as a drone, unmanned aircraft system (UAS), 
            or by several other names, is an aircraft without a human pilot aboard. They can be controlled
            remotely by a person or autonomously by computers.
            Though their origins lie in military applications, they are used in business, agriculture, 
            science and for recreation. Amazon is even trying to use them to deliver packages. 
        </p>
    </div>
    <div class="panel-footer"><img src="/images/prime-drone.jpg" alt=""></div>
  </div>  
</div>