<video autoplay loop muted poster="screenshot.jpg" id="background">
        <source src="../movie/drone-background.mp4" type="video/mp4">
    </video>

<p>Welcome to <%= title %></p>
<button><a href="/drones">Check out our Drones</a></button>
