<p>Welcome to <%= title %></p>
<nav>
  <ul>
    <li>
      <button class="btn btn-default"> <a href="drones"> Our drone's flote </a> </button>
    </li>
    <li>
      <button class="btn btn-default"> <a href="drones/new"> Create New Drone </a></button>
    </li>
  </ul>
</nav>
