<h1>Welcome to <%= title %>(drones made with MongoDB, Express and Nodejs)</h1>
<nav>
    <ul>
          <li> <a href="/"> Home </a> </li>
          <li> <a href="/drones"> Drone List</a> </li>
    </ul>
</nav>

