<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/drones">List the drones</a>
    <a href="/drones/new">Add a new drone</a>
  </body>
</html>

