<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/">Home</a>
    <br>
    <a href="/drones">Drones List</a>
    <br>
    <a href="/drones/new">Create new drone</a>
    <br>
    <%- body %>
  </body>
</html>
