<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <header>
    <h1>Drones</h1>

    <nav>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/drones">Drones</a></li>
        <li><a href="/drones/new">New Drone</a></li>
      </ul>
    </nav>
  </header>


  <body>
    <%- body %>
  </body>


  <footer>
    Made with <span style="color: pink">&hearts;</span> by Guss
    <br>
    © Guss 2017
  </footer>
  <br><br>

</html>
