<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
        <a href="/">HOME</a>
        <br>
        <a href="/drones/">OUR DRONES</a>
        <br>
        <a href="/drones/new">CREATE NEW DRONE</a>
        <br>
      </nav>
    </header>
    <%- body %>
  </body>
</html>
