<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />


  </head>
  <body>
    <h1><%= title %></h1>
    <header>
      <nav class="nav">

        <a "nav-link" href="/"> Home </a>


        <a "nav-link" href="/drones"> Dronz </a>


        <a "nav-link" href="/drones/new"> Add a New Drone </a>



      </nav>
    </header>

    <%- body %>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
