<h2></h2>
<form action="" method="post">
  <label for="drone name"></label>
  <input id="drone-name" type="text">
  <label for="number of propellers"></label>
  <input id="propellers" type="text">
  <label for="maximum speed"></label>
  <input id="maxSpeed" type="text">
  <button type="submit">Add Drone</button>
</form>
