<h2>Add new drone</h2>

<form action="/drones" method="post">

  <label for="droneName">Name</label>
  <input type="text" name="droneName">

  <label for="propellers">Propellers</label>
  <input type="text" name="propellers">

  <label for="maxSpeed">Max Speed</label>
  <input type="text" name="maxSpeed">

  <button type="submit">Add drone!</button>

</form>
