<h2>Make a new drone</h2>
<form action="/drones/drones" method="post">
  
  <p><input placeholder="Drone Name" type="text" name="name"</p>
  <p><input placeholder="Propellers Number" type="number" name="propellers"</p>
  <p><input placeholder="Drone Max Speed" type="number" name="maxSpeed"</p>

  <p><input type="submit"</p>
  
</form>