<h2>Drones available</h2>

<% dronesData.forEach(function (drone){%>
<p><%= drone.name %></p>
<p><%= drone.propellers %></p>
<p><%= drone.maxSpeed %></p>
<%})%>
<p><a href=http://localhost:3000/drones/new>Create a new drone</a></p>