<h2>All the drones</h2>
<ul>
  <% drones.forEach((drone) => { %>
    <li>
      Drone name: <%= drone.droneName %> | Propellers:  <%= drone.propellers %> | Max speed: <%= drone.maxSpeed %>
    </li>
  <%  }) %>
</ul>
<a href="/drones/new">Create new drone</a>
