<h2>Drones</h2>
<ul class="list-group">
  <% drones.forEach((drone) => { %>
    <li class="list-group-item">
      <%= `name: ${drone.droneName}, propellers: ${drone.propellers}, speed:${drone.maxSpeed}` %>
    </li>
  <%  }) %>
</ul>
<a href="/drones/new">Create new drone</a>
