<h2> Ze DronesssssSSsszzzz z z</h2>
<ul>
  <% drones.forEach((drone) => { %>
    <li>
      <a href="/drones/<%= drone._id %>"><%= drone.droneName %></a>
    </li>
  <% }) %>
</ul>
<button>
<a href="/drones/new">Add A Drone</a>
</button>
