<p>Welcome to <%= title %></p>

<h2>Drones</h2>
<% drones.forEach((drone) => {%>
<li>Name: <%= drone.name %></li>
<li>Propellers: <%= drone.propellers %></li>
<li>Max Speed: <%= drone.maxSpeed %></li>
<br>
<% }) %>

