<ul>
  <% drones.forEach((drone) => { %>
    <li>Name: <%= drone.name %>,
    Propellers: <%= drone.propellers %>,
    Maximum Speed: <%= drone.maxSpeed %></li>
  <% }); %>
</ul>

<a href="http://localhost:3000/drones/new">Link</a>
