<a href="drones/new"> create drone </a>
<ul>
  <% drones.forEach((aDrone) => { %>
    <li><a><%=aDrone.droneName %></a><a><%=aDrone.propellers %></a><a><%=aDrone.maxSpeed %></a></li>
  <% }) %>
</ul>
