<h2>Drones</h2>

<ul>
    <% drones.forEach((Drone) => { %>
        <li><%= drones.droneName %>  </li>
        <li> <%= drones.propellers %> </li>
        <li> <%= drones.maxSpeed %></li>
        <%  }) %>
</ul>