

  <% drones.forEach((drone)=>{ %>
  <ul>
    <li> <strong>Drone name: <%=drone.name%></strong></li>
    <li>Number of propellers: <%=drone.propellers%></li>
    <li>Max Speed: <%=drone.maxSpeed%></li>
  </ul>
  <% }) %>
