<h2>Drones list:</h2>
<a href="/drones/new">New drone</a>
<ul>
  <% drones.forEach((aDrone) => { %>
    <li> <%= aDrone.droneName %>, <%=aDrone.propellers%>, <%=aDrone.maxSpeed %> </li>
  <% }) %>
</ul>
