<h2>The Drones</h2>

<ul>
<% drones.forEach((drone)=>{%>
  <li><a href="/drones/<%= drone._id %>"><%=drone.droneName%></a></li>
  <li><form method="post" action="/drones/<%= drones._id %>/delete">
    <button> Delete </button>
  </form></li>
<%});%>
 <li><a href="/drones/new">Create Drone</a></li>
</ul>
