<!-- products/index.ejs -->
<h2>DRONES</h2>
<ul>
  <% drones.forEach((drone) => { %>
    <li>
      <b>Drone Name:</b> <%= drone.droneName %> - <b>Propellers:</b> <%= drone.propellers %> - <b>Max. Speed:</b> <%= drone.maxSpeed %>
    </li>
  <%  }) %>
</ul>
<a href="/drones/new"><button type="button">New Drone!</button></a>
