  <h2>List of drones</h2>
  <ul>
    <% drones.forEach((drone) => {%>
      <li><%= drone.droneName %> (<%= drone.propellers %> propellers, max. speed: <%= drone.maxSpeed %>) </li>
    <% }) %>
  </ul>
