<h2> SPACE DRONES </h2>

    <% drones.forEach( (drones) => { %>
        <p> <%= drones.droneName %> </p>
        <p> <%= drones.propellers %> </p>
        <p> <%= drones.maxSpeed %> </p>
     <% }) %>

<a href="drones/new">Create a New Drone Here </a>