<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="main.js"></script>
</head>
<body>
  <h1>Has entrado a la carpeta de drones</h1>

<ul>
  <% for(let i = 0; i < drones.length; i++) { %>
    <li>
      <%= drones[i].name %>
    </li>
    <% } %>
  </ul>
  
</body>
</html>



