<h2>Drones</h2>

<% drones.forEach((drone) => { %>

  <div class="drone-wrapper">
    <p> <%= drone.name %> </p>
    <p> <%= drone.propellers %> </p>
    <p> <%= drone.maxSpeed %> </p>
  </div>

<% }) %>
