<h2>Heading</h2>
    <ul>
        <% arrayOfDrones.forEach((aDrone) => { %>
            <li>
                Name: <%= aDrone.name %> - Propellers: <%= aDrone.propellers %> - Max Speed: <%= aDrone.maxSpeed %> 
            </li>
        <% }) %>
      </ul>
