<h2>List of drones</h2>
<p>Add a new drone clicking <a href="/drones/new"> here </a></p>
<ul>
  <% drones.forEach((aDrone) => { %>
    <li> Drone name: <%= aDrone.name %> </li>
    <li> Nr of propellers: <%= aDrone.propellers %> </li>
    <li> Max speed: <%= aDrone.maxSpeed %> </li> <br>
  <% }) %>
</ul>
