<!-- products/index.ejs -->
<h2>DRONES</h2>
<ul>
  <% drones.forEach((drone) => { %>
    <li>
      <%= drone.droneName %> - <%= drone.propellers %> - <%= drone.maxSpeed %>
    </li>
  <%  }) %>
</ul>
<a href="/drones/new">New Drone!</a>
