<% drones.forEach((dron) => { %>
  <h2><%= dron.droneName %></h2>
  <p>
    <span><%= dron.propellers %></span>
    <span><%= dron.maxSpeed %></span>
    <a href="/drones/<%= dron._id %>/delete">Eliminar</a>
  </p>
<% }) %>
<a href="/drones/new">crear nuevo</a>
