<h2><ul>
    <% drones.forEach((drones) => { %>
      <li>
         Name: <%= drones.name %>  
         Propellers: <%= drones.propellers %> 
         Max Speed: <%= drones.maxSpeed%>
      </li>
    <% }) %>
  </ul></h2>