<h1>DRONES</h1>
<%for(i=0; i<result.length;i++) {%>

<h2>Name: <%=result[i].name%></h2>  
<p>Propellers: <%=result[i].propellers%></p>  
<p>Max Speed: <%=result[i].maxSpeed%></p>  
  <% }%>

<br <br />
<h2>Add a new drone</h2>
<a href="/drones/new">Drones</a>