<ul>
    <% drones.forEach((drone)=> { %>
        <li>
            <% drone.name %>
        </li>
        <li>
            <% drone.propellers %>
        </li>
        <li>
            <% dron.maxSpeed %>
        </li>
    <% }) %>
</ul>