<h2>Drone List</h2>
<% drones.forEach((drone) => { %>
  <ul class="">
    <h4><span class="drone-name-class">Drone Name: </span> <%= drone.droneName %></h4>
      <li><b>Number of Propellers: </b><%= drone.propellers %></li>
      <li><b>Max Speed: </b><%= drone.maxSpeed %> kmph</li>
  </ul>
    <% }) %>
  <a href="drones/new">New Drone</a>
