<ul>
  <% drones.forEach((drone) => { %>
    <li>
      <%= drone.droneName %> <%= drone.propellers %> <%= drone.maxSpeed %>
    </li>
  <%  }) %>
</ul>
<a class="newdrone" href="drones/new">New Drone</a><br>
