<h2>Drones list:</h2>
<ul>
  <% drones.forEach((aDrone) => { %>
    <li><%= aDrone.droneName %> - <%= aDrone.propellers %> - <%= aDrone.maxSpeed %></li>
  <% }) %>
</ul>

<a href="/drones/new">Add new Drone.</a>
