<h1>this is to add a new drone</h1>
<form class="" action="/drones/new" method="post">
  <label for="droneName">Name</label>
  <input type="droneName" name="droneNameValue" value="">
<br>
  <label for="propellers">Propellers</label>
  <input type="propellers" name="propellersValue" value="">
<br>
  <label for="maxSpeed"> Max speed</label>
  <input type="maxSpeed" name="maxSpeedValue" value="">
<br>
  <button>Add drone</button>
</form>
