<center>

<h1>New Drone</h1>
<div class="form">
<form action="/drones" method="post">

  <label for="drone-name-input">Drone Name</label>
 <br>
<input id="drone-name-input" type="text" name="droneName">
<br>

<br>
    <label for="propellers-input">How Many Propellers</label>
    <br>
     <input id="propellers-input" type="number" name="propellers">
    <br>

<br>
   <label for="max-speed-input">Max Speed</label>
     <br>
    <input  id="max-speed-input" type="number" name="maxSpeed">
     <br>
   </div>
<br>
   <button>Add new Drone</button>

   </form>

</center>
