<h2>CREATE A NEW DRONE</h2>

<form action="/drones" method="post">
  <label for="drone-name-input">ENTER NAME</label><br>
  <input type="text" name="droneName" id="drone-name-input"><br>

  <label for="drone-propellers-input">ENTER # PROPELLERS</label><br>
  <input type="number" name="propellers" id="drone-propellers-input"><br>

  <label for="drone-speed-input">ENTER MAX SPEED</label><br>
  <input type="number" name="maxSpeed" id="drone-speed-input"><br>

<button>CREATE THIS DRONE</button>

</form>
