<h1>Create drone</h1>
<form action="/drones" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="propellers">propellers</label>
  <input type="number" name="propellers" id="propellers">

  <label for="maxSpeed">max Speed</label>
  <input type="number" name="maxSpeed" id="maxSpeed">

  <button type="submit">Create drone</button>
</form>