<h2>Estamos en drones/new</h2>
<form class="" action="/drones" method="post">
  <input type="text" name="droneName" value="">
  <input type="text" name="propellers" value="">
  <input type="text" name="maxSpeed" value="">
  <button type="submit" name="button"></button>
</form>
