<h2>Create your own drone:</h2>

<form action="/drones/index" method="POST">
  <label for="Name">Name</label>
  <input type="text" id="name" name="droneName">

  <label for="Propellers">Price</label>
  <input type="number" name="price" id="price">


  <label for="maxSpeed">Description</label>
  <textarea type="text" name="description" id="description"></textarea>

  <button type="submit">Create Drone</button>
</form>
