<h2> Add a Drone </h2>

<form action="/drones" method="post">
  <label for="drone-name"> Model Name: </label>
  <input id="drone-name" type="text" name="droneName">
  <br>

  <label for="propellers"> Propellers: </label>
  <input id="propellers" type="number" name="dronePropellers">
  <br>

  <label for="max-speed"> Max Speed (meters per second): </label>
  <input id="max-speed" type="number" name="droneMaxSpeed">
  <br>

  <button> Submit </button>
</form>
