<h2><%= title %></h2>
<form action="/drones" method="post">
    <label for="">Name</label>
    <input type="text" name="name"><br>
    <label for="">Propellers</label>
    <input type="text" name="propellers"><br>
    <label for="">Speed</label>
    <input type="text" name="maxSpeed"><br>
    <button type="submit">Submit</button>
</form>