<h2>Add New Drone</h2>

<form action='/drones' method="POST">
  <input type='text' name='name' placeholder="name">
  <input type='number' name='propeller' placeholder="number of propellers">
  <input type='number' name='maxSpeed' placeholder="max drone speed">
  <input type='submit' value="Add drone">
</form>