<form action="/drones" method="POST">
  <label for="droneName">Name</label>
  <input type="text" id="name" name="droneName">

  <label for="propellers">Propellers</label>
  <input type="number" name="propellers" id="propellers">

  <label for="maxSpeed">Maximum Speed</label>
  <input type="text" name="maxSpeed" id="max-speed">

  <button type="submit">Create Drone</button>
</form>
