<form action="/drones" method="POST">
    <label>Name</label>
    <input type="text" name="name"><br>
    <label>Propellers</label>
    <input type="number" name="propellers"><br>
    <label>Max Speed</label>
    <input type="number" name="maxSpeed"><br>
    <button type="submit">Submit</button>
</form>