<form action="/drones/new" method="post">
  <input type="text" name="name" placeholder="Drone Name">
  <input type="text" name="properllers" placeholder="Propellers">
  <input type="text" name="maxSpeed" placeholder="Max Speed">
  
  <input type="submit">
</form>
