<h2>Add A Drone</h2>
<form action="/drones" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="propellers">Propellers</label>
  <input type="number" name="propellers" id="propellers">

  <label for="maxSpeed">Max-Speed</label>
  <input type="number" name="maxSpeed" id="maxSpeed">

  <button type="submit">Add A Drone</button>
</form>
