<h2>Create a drone</h2>

<form method="POST" action="/drones">
    <input placeholder="New drone name" type="text" name="newdrone">
    <input placeholder="Number of propellers" type="number" name="propellers">
    <input placeholder="Max Speed" type="number" name="maxspeed">
    <button type="button">SUBMIT</button>
</form>