<h2>Add new drone to your collection</h2>
<form action="/drones/new" method="post">
    <label>
        Drone name:
        <input placeholder="Write name" type="text" name="name">
    </label>
    <label>
        Propellers:
        <input placeholder="Number of propellers" type="text" name="propellers">
    </label>
    <label>
        Maximun speed:
        <input placeholder="Write max speed" type="text" name="maxSpeed">
    </label>
    <input type="submit">
</form>