<h2></h2>
<form action="/drones" method="POST">
  <label for="droneName">Nombre</label>
  <input type="text" name="droneName">
  <label for="propellers">Helices</label>
  <input type="number" name="propellers">
  <label for="maxSpeed">Velocidad</label>
  <input type="number" name="maxSpeed">
  <button type="submit">Crear</button>
</form>
