<h2>Add a new Drone</h2>

<form action="/drones" method="POST">
  <div>
    <label for="drone-name"> Model Name: </label>
    <input type="text" name="droneName" id="drone-name">
  </div>

  <div>
    <label for="propellers"> Propellers: </label>
    <input type="number" name="propellers" id="propellers">
  </div>

  <div>
    <label for="max-speed"> Maximum Speed (meters per second): </label>
    <input type="number" name="maxSpeed" id="max-speed">
  </div>

  <button> Add this drone </button>
</form>