<h2>Add new drone</h2>
<br><br>
<form action="/drones" method="post">
  <label for="drone-name-input">Drone name:</label>
  <input type="text" id="drone-name-input" name="droneName">
  <br><br>
  <label for="propellers-count-input">Number of propellers:</label>
  <input type="number" id="propellers-count-input" name="propellers">
  <br><br>
  <label for="maxSpeed-input">Max speed (m/sec):</label>
  <input type="number" id="maxSpeed-input" name="maxSpeed">
  <br><br>

  <button>Add new drone</button>
</form>
