<h2>Add a New Drone</h2>

<form  action="/drones" method="post">
<label for="drone-name-input">Model Name</label>
<input id="drone-name-input" type="text" name="name" placeholder="e.g. Oculus200">
<br>

<label for="propellers-input">Number of Propellers</label>
<input id="propellers-input" type="number" name="dronePropellers" placeholder="e.g.4">
<br>

<label for="drone-speed-input">Drone Speed</label>
<input id="drone-speed-input" type="number" name="droneSpeed" placeholder="e.g.35">
<br>

<button>Submit New Drone!</button>

</form>
