<h2>Create new drone</h2>
<form action="/drones" method="post">
  <label for="droneName">Drone name</label>
  <input type="text" name="droneName">
  <label for="propellers">Propellers:</label>
  <input type="text" name="propellers">
  <label for="maxSpeed">Max Speed</label>
  <input type="text" name="maxSpeed">
  <button type="submit">Create</button>
</form>
