<h2>New drones</h2>

<form action="/drones" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="price">Propellers</label>
  <input type="number" name="propellers" id="propellers">

  <label for="image-url">Maximum speed</label>
  <input type="number"  name="maxSpeed" id="maxSpeed">

  <button type="submit">Create Drone</button>
</form>
