<form action="/drones" method="POST">
  <label for="droneName">Nombre: </label>
  <input type="text" id="droneName" name="droneName">

  <label for="propellers">Hélices: </label>
  <input type="number" name="propellers" id="propellers">

  <label for="maxSpeed">Veloc. máx: </label>
  <input type="number" name="maxSpeed" id="maxSpeed">

  <button type="submit">Crear Drone</button>
</form>
<a href="/">Ir a la lista de drones</a>
