<h2>Add a new drone here</h2>

<form action="/drones" method="post">
  <label for="droneName">Drone name:</label>
  <input id="droneName" type="text" name="droneName">
  <br>
  <label for="propellers"># of propelers: </label>
  <input id="propellers" type="number" name="propellers">
  <br>
  <label for="maxSpeed">Max speed: </label>
  <input id="maxSpeed" type="number" name="maxSpeed">
  <br>

  <button> ADD </button>
</form>
