<form action="/drones" method="POST">
  <label for="name">Name</label>
  <input type="text" id="droneName" name="droneName">

  <label for="price">propellers</label>
  <input type="number" name="propellers" id="propellers">

  <label for="maxSpeed">maxSpeed</label>
  <input type="text" name="maxSpeed" id="maxSpeed">

  <button type="submit">Create Drone</button>
</form>
