<h2>Create New Form</h2>

<form action="/drones" method="POST">
  <label for="droneName">Name</label>
  <input type="text" id="droneName" name="droneName">

  <label for="Proppelers">Number of propellers</label>
  <input type="number" name="propellers" id="propellers">

  <label for="maxSpeed">Max Speed</label>
  <input type="number" name="maxSpeed" id="maxSpeed">

  <button type="submit">Add</button>
</form>
