
<div class="container">
  <div class="row">
    <div class="col col-md-6">
      <h2>Create new drone</h2>
      <form action="/drones" method="post">
        <div class="form-group">
          <label for="droneName">Drone name</label>
          <input type="text" name="droneName" class="form-control">
        </div>

        <div class="form-group">
          <label for="propellers">Propellers:</label>
          <input type="text" name="propellers" class="form-control">
        </div>

        <div class="form-group">
          <label for="maxSpeed">Max Speed</label>
          <input type="text" name="maxSpeed" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>

      </form>
    </div>
  </div>
</div>
