<h2>Create New Drone</h2>

<form action="/drones" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <!-- <label for="image-url">Image URL</label>
  <input type="text" name="imageUrl" id="image-url"> -->

  <label for="propellers">Propellers</label>
  <input type="number" name="propellers" id="propellers">

  <label for="maxSpeed">Max Speed</label>
  <input type="number" name="maxSpeed" id="maxSpeed">

  <button type="submit">Create New Drone</button>
</form>
<br>
<a href="/drones">Back To Drones List</a>
<br>
<br>
<a href="/">Home Page</a>