<h2><%= title %> </h2>
<form action="/drones %>" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="droneName" value="Drone Name">

  <label for="price">Rotors</label>
  <input type="number" name="propellers" id="propellers" value="Props">

  <label for="maxSpeed">Speed</label>
  <input type="number" name="maxSpeed" id="maxSpeed" value="Maximum Speed">

  <button type="submit">Create Product</button>
</form>
