<form action="/drones" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
  
    <label for="propellers">Propellers</label>
    <input type="number" name="propellers" id="propellers">
  
    <label for="maxSpeed">Maximum Speed (meters per second)</label>
    <input type="number" name="maxSpeed" id="propellers">

    <button type="submit">Create Drone</button>
  </form>