<form class="col-md-4" action="/drones" method="POST">
  <div class="form-group">
    <label for="droneName">Name</label>
    <input type="text" class="form-control" id="droneName" name="droneName">

    <label for="propellers">Propellers</label>
    <input type="number" class="form-control" name="propellers" id="propellers">

    <label for="maxSpeed">Max Speed</label>
    <input type="number" class="form-control" name="maxSpeed" id="maxSpeed">

    <button type="submit" class="btn btn-primary">Create Drone</button>
  </div>
</form>
