<h2> Add New Drone </h2>


<form method='post' action='/drones'>
  <label for='drone-name-input'> Drone Name </label>
  <input id='drone-name-input' type="text" name="droneName" >
  <br>

  <label for='drone-propellers-input'> Number of Propellers </label>
  <input id='drone-propellers-input' type='number' step='1.0' name='propellers'>
  <br>


  <label for='drone-speed-input'> Max Speed </label>
  <input id='drone-speed-input' type='number' step='1.0' name='maxSpeed' >
  <br>

  <button> Add Your Drone </button>
</form>
