<h2>Create a new drone</h2>

<form class="" action="/drones" method="post">
  <input type="text" name="name" placeholder="Introduce your drone name">
  <input type="number" name="propellers" placeholder="Introduce your drone propellers">
  <input type="number" name="maxSpeed" placeholder="Introduce your drone max speed">

  <input type="submit">
</form>
