<h1>Add New Drone</h1>
<form action="/drones" method="post">
  <input type="text" name="name" placeholder="Drone Name">
  <input type="number" name="properllers" placeholder="Propellers">
  <input type="number" name="maxSpeed" placeholder="Max Speed">
  
  <input type="submit">
</form>
