<h2>Add a new DrO-O-One</h2>
<form action="/drones" method='Post'>
  <label for="droneName">Drone Name</label>
  <input type="text" id="droneName" name="droneName">

  <label for="propellers">Propellers</label>
  <input type="number" id="propellers" name="propellers">

  <label for="maxSpeed">Max Speed</label>
  <input type="maxSpeed" id="maxSpeed" name="maxSpeed">

  <button type="sumbit">Create Drone</button>
</form>
