<h2>New Drone</h2>
<form method="POST" action="/drones">
  <input type="text" placeholder="Drone Name" name="droneName">
  <input type="text" placeholder="Propellers" name="propellers">
  <input type="text" placeholder="Max Speed" name="maxSpeed">
  <button type="submit">Add</button>
</form>
