<h2>New Drone mhkaayy</h2>

<form action="/drones" method="POST">

  <label for="droneName">Drone name: </label>
  <input type="text" name="droneName">

  <label for="propellers">Propellers: </label>
  <input type="number" name="propellers">

  <label for="maxSpeed">Max speed: </label>
  <input type="number" name="maxSpeed">

  <button type="submit" name="savebutton">Create Drone!</button>

</form>
