<h2>Create a new drone</h2>

<form method="post" action="/drones">
  <div class="form-group">
    <label for="drone-name"> Model Name: </label>
    <input class="form-control" type="text" name="_droneName" id="drone-name">
  </div>

  <div class="form-group">
    <label for="propellers"> Propellers: </label>
    <input class="form-control" type="number" name="_propellers" id="propellers">
  </div>

  <div class="form-group">
    <label for="max-speed"> Maximum Speed (meters per second): </label>
    <input class="form-control" type="number" name="_maxSpeed" id="max-speed">
  </div>

  <button class="btn btn-primary" type="submit">New Drone</button>
</form>
