<h2>New drone</h2>

<form action="drones" method="post">

  <label for="droneName">Model Name</label>
  <input type="text" id="droneName" name="droneName">

  <label for="propellers">Number of Propellers</label>
  <input type="text" id="propellers" name="propellers">

  <label for="maxSpeed">MaxSpeed Desired</label>
  <input type="text" id="maxSpeed" name="maxSpeed">

</form>
