<h2>New Drone</h2>

<form action="/drones" method="POST">
  <label for="droneName">Drone name</label>
  <input type="text" name="droneName" id="droneName" >

  <label for="propellers">Number of propellers</label>
  <input type="number" name="propellers" id="propellers">

  <label for="maxSpeed">Maximum speed</label>
  <input type="number" name="maxSpeed" id="maxSpeed">

  <button type="submit">Create Drone</button>
</form>
