<form action="/drones" method = "POST">

  <label>Name</label>
  <input type="text" name="Nameinput"  >

  <label>Propellers</label>
  <input type="number" name="Propellersinput" >

  <label>Max Speed</label>
  <input type="number" name="Maxspeedinput">

  <button>Submit</button>
  
</form>
