<form method="post" action="/drones">
  <div>
    <label for="drone-name"> Model Name: </label>
    <input type="text" name="name" id="drone-name"> 
  </div>
<br>
  <div>
    <label for="propellers"> Propellers: </label>
    <input type="number" name="propellers" id="propellers">
  </div>
<br>
  <div>
    <label for="max-speed"> Maximum Speed (meters per second): </label><br>
    <input type="number" name="maxSpeed" id="max-speed">
  </div>

  <button> Add this drone </button>
</form>