<h2>Spawn New Drone</h2>
<form method='POST' action='/drones'>
    <label for='name'>Name</label>
    <input type= 'text' id='name' name='droneName'>  

    <label for='propellers'>Propellers</label>
    <input type= 'number' id='propellers' name='propellers'> 

    <label for='maxSpeed'>Max Speed</label>
    <input type= 'number' id='maxSpeed' name='maxSpeed'> 

    <button type='submit'>Create Drone</button>
</form>