<form action="/drones" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">

  <label for="price">Propellers</label>
  <input type="number" name="propellers" id="propellers">

  <label for="image-url">Max speed</label>
  <input type="number" name="maxspeed" id="maxspeed">

  <button type="submit">Create Drone</button>
</form>
<br>
<img class="toflama" src="https://sd.keepcalm-o-matic.co.uk/i/keep-calm-and-sta-to-flama.png" />
