<video autoplay loop muted poster="screenshot.jpg" id="background">
    <source src="../movie/dronebackground.mp4" type="video/mp4">
</video>

<form action="/drones" method="POST">
    <input type="text" placeholder="enter new drone" name="name">
    <input type="number" placeholder="# of props" name="propellers">
    <input type="number" placeholder="Maximum Speed" name="maxSpeed">
    <button class="btn btn-lg btn-primary" type="submit">Submit Drone</button>




</form>
<br>

<button class="btn btn-lg btn-primary"><a href="/">Go Back Home</a></button>