<h2>Create new Drone</h2>
<form method="post" action="/drones">
  <div>
    <label for="drone-name">Model Name: </label>
    <input type="text" name="name" id="drone-name" />
  </div>
  <div>
    <label for="propeller">Propellers: </label>
    <input type="number" name="propeller" id="propellers"/>
  </div>
  <div>
    <label for="maxspeed">Maximum Speed (meters per second)</label>
    <input type="number" name="maxspeed" id="maxspeed"/>
  </div>
  <div>
    <button>Add this drone</button>
  </div>
</form>