<form action="/drones" method="post">
  <div class="form-row">
    <div class="col-xs-12 col-md-4 text-center">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name of drone">
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <label for="propellers">Propellers</label>
      <input type="number" class="form-control" name="propellers" placeholder="Propellers of drone">
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <label for="maxSpeed">MaxSpeed</label>
      <input type="number" class="form-control" name="maxSpeed" placeholder="Speed of drone">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <input class="btn btn-primary btn-lg active btn-mrg" type="submit" value="Create">
    </div> 
  </div>

</form>