<form action="/drones/new" method='POST'>

  name<input type="text" name="name">
  propellers<input type="number" name="prop">
  maxSpeed<input type="number" name="max">
  <input type="submit" value="add">

</form>
