<h2>heading2</h2>
<form action="/drones" method="post">
    <input type="text" value="Name" name="name">
    <input type="number" value="Propellers" name="propellers">
    <input type="number" value="Max Speed" name="maxSpeed">
    <input type="submit" value="Submit">
</form>