<h2>DRONE New</h2>
<form action="/drones" method="post">
  <input type="text" name="inputName" value="Drone name">
  <input type="text" name="inputPropeller" value="Qty propellers">
  <input type="text" name="inputSpeed" value="Max speed">
  <button type="submit" name="button">Create drone</button>
</form>
