<form action="/drones" method="post">
  <label for="name">Drone name:</label>
  <input type="text" name="name" id="name">
  <label for="propellers">Number of propellers:</label>
  <input type="number" name="propellers" id="propellers">
  <label for="maxspeed">Max Speed:</label>
  <input type="number" name="maxspeed" id="maxspeed">
  <input type="submit">
</form>