<h2>NEW DRONE</h2>
<form class = "" action = "/drones" method = "post">
<label for = "droneName">Name</label>
<input type = "text" name = "droneName" value = "" >
<label for = "propellers"> number of properllers</label>
<input type = "text" name = "propellers" value = "" >
<label for = "maxSpeed">Max Speed</label>
<input type = "text" name = "maxSpeed" value = "" >
<button type = "submit" name = "submit">Submit</button>
</form>
