<h2> Create Your New Drone </h2>

<form action="/drones" method="POST">
  <label for="drone-name">Name</label>
  <input type="text" id="drone-name" name="droneName">

 <label for="propellers">Propellers</label>
  <input type="number" name="propellers" id="propellers">

 <label for="max-speed">maxSpeed</label>
  <input type="number" name="maxSpeed" id="max-speed">

 <button type="submit">Create Your Drone</button>
</form>
