<h2>Add new drone</h2>
<form action="/drones" method="POST">

  <label for="name">Name</label>
  <input id="droneName" type="text" name="droneName" placeholder="e.g. Dronezilla"></input><br>

  <label for="name">Number of propellers</label>
  <input id="propellers" type="text" name="propellers" placeholder="e.g. 12"></input><br>

  <label for="name">Maximum Speed</label>
  <input id="maxSpeed" type="text" name="maxSpeed" placeholder="e.g. 855"></input><br><br>

  <button type="submit">
  Add my drone please
  </button>

</form>
