<h2>Add a new cool drone!!!</h2>


<form method='POST' action='/drones' class="form">
    <label for="drone-name">Drone name:</label><input type="text" name="droneName">
    <label for="propellers">Propellers:</label><input type="number" name="propellers">
    <label for="max-speed">Max Speed:</label><input type="number" name="maxSpeed">
    <button> Add this drone </button>
</form>
