<h2> Add Product </h2>


<form  action="/drones" method="post">
  <label for="drone-name"> Drone name: </label>
  <input id="drone-name" type="text" name="droneName" placeholder="e.g DoobyDrone"/>
  <br/>

  <label for="drone-propellers"> Propellers :</label>
  <input id="drone-propellers" type="text" name="dronePropellers" placeholder="e.g 4"/>
  <br/>

  <label for="drone-max-speed"> Max speed :</label>
  <input id="drone-max-speed"  type="text" name="droneMaxSpeed" placeholder="e.g 200"/>
  <br/>

  <button> Add drone </button>
</form>
