<h2> Create new drone </h2>

<form method="POST" action="/drones">
  <input id="drone-name" name="droneName" type="text" placeholder="Enter drone's name">
  <input id="drone-propellers" name="dronePropellers" type="number" min="1" placeholder="Enter # of propellers">
  <input id="drone-speed" name="droneSpeed" type="number" min="1" placeholder="Enter Max Speed">
  <button> Create! </button>
</form>
