<h2>ADD YOUR DRONE</h2>
<form action="/drones" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="droneName">

    <label for="propellers">Propellers</label>
    <input type="number" name="propellers" id="propellers">

    <label for="max-speed">Maximum Speed</label>
    <input type="numer" name="maxSpeed" id="max-speed">

    <button type="submit">Create Drone</button>
</form>