<h2>New Drone</h2>
<form action="/drones" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="propellers">Propellers</label>
    <input type="text" name="propellers" id="propellers">
    <label for="maxSpeed">Max Speed</label>
    <input type="text" name="maxSpeed" id="maxSpeed">
    <button>SEND</button>
</form>