<h2>Add new drone </h2>
<form  action="/drones" method="POST">

  <label for="droneName">name</label>
  <input type="text" name="droneName" id="name">


  <label for="propellers">propellers</label>
  <input type="text" name="propellers" id="propellers">

  <label for="maxSpeed">Max Speed</label>
  <input type="text" name="maxSpeed" id="maxSpeed">
  <button type="submit" name="button" id="button">create</button>
</form>
