<h2> Add new drone</h2>

<form action="/drones" method="post">
<input type="text" name="droneName" placeholder="Drone Name">
<input type="number" name="dronePropellers" step="1" placeholder="Number of propellers">
<input type="number" name="droneMaxSpeed" step="10" placeholder="Drone speed">
<button>Add new drone</button>
</form>
