<div class="newdronepage">
<h2> Add a Drone </h2>

<form method="post" action="/drones">
  <label for="new-drone-input"> Drone Name</label>
  <input  id="new-drone-input" type="text" name="droneName">
  <br>
  <br>

  <label for="propellers-input">Propellers </label>
  <input  id="propellers-input" type="number" name="propellers">
  <br>
  <br>

  <label for="maxspeed-input">Max Speed</label>
  <input  id="maxspeed-input" type="number" name="maxSpeed">
  <br>
  <br>

<button>Save new Drone</button>

</form>
</div>
