
<a href="/">Drnz Home</a>
<a href="/drones">ALL the Drnz</a>
<a href="/drones/new"> Add a Drnz</a>

<h2>Would you like to add a drone to your collection?</h2>

<form method="post" action="/drones">

  <label for="drone-name-input">Drone Name</label>
  <input id="drone-name-input" type="text" name="droneName">
  <br>

  <label for="drone-propellers-input">Propellers</label>
  <input id="drone-propellers-input" type="text" name="dronePropellers">
  <br>

  <label for="drone-maxspeed-input">Max Speed</label>
  <input id="drone-maxspeed-input" type="text" name="droneMaxSpeed">
  <br>

  <button> Add a Drone </button>

</form>
