<h2>New drone</h2>
<a href="/">Back</a>
<form action="/drones" method="post">
  <label for="dronName">Name</label>
  <input type="text" name="dronName" value="New drone">
  <label for="propellers">Propellers</label>
  <input type="number" name="propellers" value="1">
  <label for="maxSpeed">Max Speed (m/s)</label>
  <input type="nomber" name="maxSpeed" value="5">
  <input type="submit" value="Submit">
</form>
