<h2> Add a new Drone </h2>

<form action="/drones" method="post">

  <label for="droneName"> Name </label>
  <input  id="droneName" type="text" name="droneName">
  <br>

  <label for="propeller"> Propellers </label>
  <input  id="propeller" type="text" name="propellers">
  <br>

  <label   for="maxSpeed"> maxSpeed </label>
  <textarea id="maxSpeed" name="maxSpeed"> </textarea>
  <br>

  <button> Add Drone </button>

</form>
