

<form class="" action="/drones/new" method="post">

    <h2>Add A Product</h2>

    <label for="drone-name">Drone Name: </label>
    <input type="text" name="droneName" id="drone-name" value=""><br>

    <label for="drone-propellers">Propellers: </label>
    <input type="text" name="propellers" id="drone-propellers" value=""><br>

    <label for="drone-max-speed">Max Speed: </label>
    <input type="text" name="maxSpeed" id="drone-max-speed" value=""> <br>


    <label for="drone-img-url">Drone Image: </label>
    <input type="url" name="droneImg" id="drone-image-url" value=""> <br>

    <button type="submit"> Submit </button>
</form>
