<h2>Creatins a new drone</h2>

<form action="/drones" method="post">
  Name:
  <input type="text" name="name">
  Porperllers:
  <input type="text" name="properllers">
  Max Speed:
  <input type="text" name="maxSpeed">
  <input type="submit" value="">
</form>