<!-- views/products/new.ejs -->
<!-- // "/drones" = redirecting to products page -->
<!-- name is the most important attribute -->
<form action="/drones" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
  
    <label for="propellers">Propellers</label>
    <input type="number" name="price" id="propellers">
  
    <label for="maxSpeed">Max Speed</label>
    <input type="number" name="maxSpeed" id="maxSpeed">
  
    <button type="submit">Create Product</button>
  </form>