<h2> New Drone </h2>

<div>
  <form action="/drones" method="POST">
    <label for="name">Drone Name</label>
    <input type="text" id="name" name="droneName">

    <label for="price">Propellers</label>
    <input type="number" name="propellers" id="propellers">

    <label for="description">Maximum Speed</label>
    <input type="number" name="max-speed" id="max-speed"></input>

    <button type="submit">Create Drone</button>
  </form>
</div>
