<h2>Adding new Drones</h2>

<form action="/drones" method="post">
  <div>
    <label for="droneName">Drone Name:</label>
    <input type="text" name="droneName">
  </div>
<br>
  <div>
    <label for="propellers">Number of propellers:</label>
    <input type="text" name="propellers">
  </div>
<br>
  <div>
    <label for="maxSpeed">Max Speed:</label>
    <input type="text" name="maxSpeed">
  </div>
<br>
  <input type="submit" value="Save Drone">
</form>
