<h2> Drone Detail </h2>

<ul>
  <li><h2> <%= drone.droneName %>  </h2></li>
  <li><h2> <%= drone.propellers %> </h2></li>
  <li><h2> <%= drone.maxSpeed %>   </h2></li>
</ul>

//Add button... to relink to this fucking link.
<a href="/drones">See more drones</a>
