<h2> Drones Details:</h2>
    <ul>
    <li>
      <p> <h3> Name: </h3><%= drones.droneName %> </p>
    </li>
    <li>
      <p> <h3>Number of propellers:</h3> <%= drones.propellers %> </p>
    </li>
    <li>
      <p> <h3> Max Speed: </h3> <%= drones.maxSpeed %> </p>
    </li>
  </ul>
