<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2><%=dronFound.droneName%></h2>
  <h2><%=dronFound.propellers%></h2>
  <h2><%=dronFound.maxSpeed%></h2>
</body>
</html>
