<!DOCTYPE html>
<html lang="en">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

<body>
    <section class="tc pa3 pa5-ns">
      <article class="hide-child relative ba b--black-20 mw5 center">
        <img src="http://blog.kemik.gt/wp-content/uploads/2016/03/Drone.jpg" class="db" alt="Photo of Jesse Grant" />
        <div class="pa2 bt b--black-20">
          <a class="f6 db link dark-blue hover-blue" href="#">DRONE NAME -> <%=drone.droneName%></a>
          <p class="f6 gray mv1">PROPELLERS -> <%=drone.propellers%></p>
          <p class="f6 gray mv1">MAX SPEED -> <%=drone.maxSpeed%></p>
          <a class="link tc ph3 pv1 db bg-animate bg-dark-blue hover-bg-blue white f6 br1" href="/drones">BACK</a>
        </div>
        <a class="child absolute top-1 right-1 ba bw1 black-40 grow no-underline br-100 w1 h1 pa2 lh-solid b" href="#">×</a>
      </article>
    </section>



</body>


</html>
